

body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  text-align:center;
  color:#333;
  background-color:#ffdb3d;
  
  }

body {
  font-family:Inconsolata,monospace;
  font-size:16px
}

.discl {
  font-size:10px
}


a,a:visited {
  color:#999
}
a:active,a:hover{
  color:#11a0c4
  }


